.btn {
  @include centerAll;
  height: 80px;
  border: 1px solid;
  text-decoration: none;
  background-color: transparent;
  // @include transition(all, .5s);
  transition: all 0.5s ease !important;
  cursor: pointer;
  
  @media (max-width: $phone) {
    height: 60px;
  }
}

.btn span {
  font-size: 18px !important;
  font-family: var(--font-main);
}

.btn-filter {
  @include borderRadius(40px);
  min-width: 80px;
}

  //btn forms
.btn-square {
  @include borderRadius(60px);
  @each $name, $size in (xs: 107px, s: 253px, m: 295px, 100: 100%, 3: 36%) {
    &-#{$name} {
      min-width: $size;
      width: $size;
    }
  }
  @each $name, $size in (fm: 54px, fl: 24px) {
    &-#{$name} {
      min-width: $size;
    }
  }

}

.btn-rond {
  @include borderRadius(50%);
  @each $name, $size in (s: 80px, m: 100px, ml: 120px, l: 160px, xl: 200px) {
    &-#{$name} {
      height: $size;
      min-width: $size;
    }
  }
  text-transform: initial;
  text-align: center;
}

  //colors
.btn-orange {
  @include btnColors($orangeMain, $orangeMain, $colorBgr, $orangeDark, $orangeDark, $colorBgr);
}
.btn-black-border {
  @include btnColors($mainDark, rgba(255,255,255,0), $mainDark, $orangeDark, $orangeDark, $colorBgr);
}
.btn-orange-border {
  @include btnColors($orangeMain, rgba(255,255,255,0), $orangeMain, $orangeDark, $orangeDark, $colorBgr);
}

.btn-orange-border-black {
  @include btnColors($orangeMain, rgba(255,255,255,0), $mainDark, $orangeDark, $orangeDark, $colorBgr);
}

  // link btns

.btn-link {
  height: fit-content;
  color: $mainDark;
  padding: 0;
  border: 0;
  text-decoration: underline;
  &:hover {
    @media (any-hover:hover) {
      color: $orangeMain;
    }
  }
}






  // old code

.btn.btn-icon {
  width: 107px;
}

.btn.btn-main {
  border-color: $mainDark;
  color: $mainDark;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}

.btn.btn-main .icon svg path {
  @include transition(all, .5s);
  fill: $mainDark;
}

.btn.btn-main:hover {
  @media (any-hover:hover) {
    border-color: $orangeMain;
    background: $orangeMain;
    color: white;
  }
}

.btn.btn-main:hover {
  @media (any-hover:hover) {
    .icon svg path {
      fill: white;
    }
  }
}

.btn.btn-main.btn-active {
  border-color: $orangeMain;
  background: $orangeMain;
  color: white;
}

.btn.btn-main.btn-active .icon svg path {
  fill: white;
}

.btn.btn-text {
  padding-left: 48px;
  padding-right: 48px;
  max-width: fit-content;
}

.btn.btn-select {
  padding-left: 48px;
  padding-right: 48px;
  max-width: fit-content;
  position: relative;
  transition: all 0.3s ease;
}

.btn.btn-select.active {
  @media (hover:none) {
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 2;
  }
}

.btn.btn-select:hover {
  @media (any-hover:hover) {
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 2;
  }
}

.btn.btn-select.active svg path {
  @media (hover:none) {
    fill: white;
  }
}
.btn.btn-select:hover svg path {
  @media (any-hover:hover) {
    fill: white;
  }
}


.btn.btn-select .select-arrow-icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
  @include transition(all, .5s);
}

.btn.btn-select .select-arrow-icon svg path {
  fill: $mainDark;
}

.btn.btn-select.active .select-arrow-icon svg path {
  @media (hover:none) {
    fill: #fff;
  }
}
.btn.btn-select:hover .select-arrow-icon svg path {
  @media (any-hover:hover) {
    fill: #fff;
  }
}

.btn.btn-select .dropdown {
  display: grid;
  grid-template-rows: 0fr;
  // z-index: -1;
  position: absolute;
  left: 0;
  // height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  top: 100%;
  pointer-events: none;
  width: 100%;
  z-index: 50;
  overflow: hidden;
}

.btn.btn-select .dropdown__list {
  transition: all 0.3s ease;
  background: white;
  border: 1px solid gray;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  min-height: 0;
  transition: all 0.3s ease;
}

.btn.btn-select.active .dropdown {
  @media (hover: none) {
    pointer-events: all;
    grid-template-rows: 1fr;
    opacity: 1;
  }
}
.btn.btn-select:hover .dropdown {
  @media (any-hover:hover) {
    pointer-events: all;
    grid-template-rows: 1fr;
    opacity: 1;
    // height: fit-content;
  }
}

.select-arrow-icon,
.select-text {
  pointer-events: none;
}

.dropdown-item {
  padding: 10px 26px;
  color: $mainDark;
}

.dropdown-item:hover {
  color: $orangeMain;
}

.btn.btn-round-big {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0 !important;
  border-color: $orangeMain;
  color: $mainDark;
  max-width: unset;
}

.btn.btn-round-big:hover {
  @media (any-hover:hover) {
    background: $orangeMain;
    color: white;
  }
}

.btn.btn-round-small {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.btn.btn-social {
  width: 78px;
  height: 78px;
  border: 1px solid $mainDark;
  position: relative;
  border-radius: 50%;
  padding: 0;
  @include transition(all, .5s);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn.btn-social .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn.btn-social:hover {
  @media (any-hover:hover) {
    border-color: $orangeMain;
    background: $orangeMain;

    svg path {
      fill: white;
    }
    svg path.transparent {
      fill: transparent;
    }
  }
}
