.container {
  position: relative;
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  @media screen and (max-width: $desktop-m) {
    margin-left: 80px;
    margin-right: 80px;
  }
  @media screen and (max-width: $desktop-s - 1) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (max-width: $tablet-s - 1) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.container-fixed {
  position: relative;
  width: 840px;
  margin: 0 auto;
}