@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-stretch: 100%;
    src: url("#{$furl}.ttf");
  }
}
@mixin transition($obj, $val) {
  -webkit-transition: $obj $val;
  -moz-transition: $obj $val;
  -ms-transition: $obj $val;
  -o-transition: $obj $val;
  transition: $obj $val;
}
@mixin borderRadius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

@mixin centerAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin transform($type, $val) {
  -webkit-transform: #{$type}(#{$val});
  -moz-transform: #{$type}(#{$val});
  -ms-transform: #{$type}(#{$val});
  -o-transform: #{$type}(#{$val});
  transform: #{$type}(#{$val});
}

@mixin btnColors($nBorder, $nBgr, $nColor, $hBorder, $hBgr, $hColor) {
  border-color: $nBorder;
  background: $nBgr;
  color: $nColor;
  svg path, span {
    fill: $nColor;
  }
  &:hover {
    border-color: $hBorder;
    background: $hBgr;
    color: $hColor;
    svg path, span {
      fill: $hColor;
    }

  }
}

@function calcFont($width, $font) {

}

