.modal {
  position: fixed;
  opacity: 0;
  width: 100%;
  z-index: -1;

  background: #f6f5f1;

  @include transition(all, .5s);
  &.active {
    z-index: 20;

    position: fixed;
    background: #f6f5f1;
    opacity: 1;
    top: 0;
    left: 0;
    padding-top: 35px;
    height: 100%;
    overflow-y: auto;

    @media (max-width: $phone) {
      padding-top: 15px;
    }
  }
  .btn {
    margin-left: auto;
  }
  .btn-black-border {
    @media (max-width: $phone) {
      margin-left: 0;
      border-color: transparent;
      justify-content: flex-start;
      padding-left: 6px;
    }
  }
  .section-title {
    justify-content: center;

    @media (max-width: $phone) {
      justify-content: flex-start;
      padding-bottom: 20px;
    }
  }
  section {
    margin-bottom: 150px;
    background: transparent !important;
  }
}

#modalCallback .container-fixed {
  @media (max-width: $phone) {
    width: 100%;
  }
}

#modalCallback .section-content {
  @media (max-width: $phone) {
    max-width: 320px;
  }
  @media (max-width: 320px) {
    max-width: 300px;
  }
}
