.modal {
  position: fixed;
  opacity: 0;
  width: 100%;
  z-index: -1;

  background: #f6f5f1;

  @include transition(all, .5s);
  &.active {
    z-index: 20;

    position: fixed;
    background: #f6f5f1;
    opacity: 1;
    top: 0;
    left: 0;
    padding-top: 35px;
    height: 100%;
    overflow-y: auto;
  }
  .btn {
    margin-left: auto;
  }
  .section-title {
    justify-content: center;
  }
  section {
    margin-bottom: 150px;
    background: transparent !important;
  }
}