// text
h1 {
  font-family: var(--font-alimini);
  font-weight: 400;

}
h2 {
  font-family: var(--font-alimini);
  font-weight: 400;

}
h3 {
  font-family: var(--font-alimini);
  font-weight: 400;

}
h4 {
  margin: 0;
  font-family: var(--font-alimini);
  font-weight: 400;

}
h5 {
  margin: 0;
  font-family: var(--font-alimini);
  font-weight: 400;

}
h6 {
  font-family: var(--font-main);
  font-weight: 400;

}

.text-bold {
  font-weight: 700;
}
.text-undetline {
  text-decoration: underline;
}

.d-none {
  display: none !important;
}


section {
  background: $colorBgr;
}
.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
  text-transform: uppercase;
  &__text {
    margin: 0;
  }
  &-filter {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    &__item {
      display: flex;
      flex-direction: row;
      .btn {
        margin-right: 32px;
      }

    }
  }
}