// colors
$colorBgr:#F6F5F1;

$orangeMain: #D69153;
$orangeDark: #DF893C;
$orangeLight: #F4D39A;

$mainBlue: #005E9B;

$mainDark: #383838;
$mainDarkExt: #747474;

$borderGray: #D9D9D9;
$lightGrayText: #8B8E91;

// medias
$phone: 576px;
$tablet-s: 768px;
$tablet-m: 992px;
$tablet-l: 1200px;
$desktop-s: 1440px;
$desktop-m: 1600px;
$desktop-l: 1920px;

$stopPoints : $desktop-l, $desktop-s, $tablet-s, $phone;

// containers
$phone-tablet-container: 100%;
$desktop-s-container: 1192px;
$desktop-m-container: 1380px;
$desktop-l-container: 1550px;
$desktop-xl-container: 1590px;

// fonts values


:root {
  --font-main: "OpenSans", sans-serif;
  --font-alimini: "Alimini", sans-serif;
}

// paddings && margins
$vals: (5, 10, 15, 20, 25, 30, 35, 40, 80, 100, 200);
$moves: (l: left, r:right, t:top, b:bottom, all:'');

@each $padding in $vals {
  @each $mKey, $mVal in $moves {
    @if($mKey != all) {
      .p#{$mKey}-#{$padding} {
        padding-#{$mVal}:#{$padding}px;
      }
    } @else {
      .p#{$mKey}-#{$padding} {
        padding:#{$padding}px;
      }
    }
  }
}

@each $margin in $vals {
  @each $mKey, $mVal in $moves {
    @if($mKey != all) {
      .m#{$mKey}-#{$margin} {
        margin-#{$mVal}:#{$margin}px;
      }
    } @else {
      .p#{$mKey}-#{$margin} {
        margin:#{$margin}px;
      }
    }
  }
}

