@import "_variables";

@import "_mixins";
@import "_fonts";
@import "_containers";
@import "_typography";
@import "_buttons";
@import "_slider";
@import "_forms";
@import "_modal";

// PARTS
@import "parts/header";
@import "parts/footer";
@import "parts/banner";
@import "parts/advantages";
@import "parts/building-position";
@import "parts/map";
@import "parts/choose-appt";
@import "parts/parking";
@import "parts/news";
@import "parts/buying-services";
@import "parts/building-stage";


// PAGES
@import "parts/page-appt";
@import "parts/page-news";
@import "parts/page-services";
@import "parts/page_news_item";
@import "parts/page_index";




* {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
}



body {
  background: $colorBgr;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  @include transition(all, .5s);
}






.nadpis3 {
  position: absolute;
  top: 0;
  right: 0;
}

.d-none-t {
  @media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
    display: none !important;
  }
}

.d-none-m {
  @media screen and (max-width: $tablet-s - 1) {
    display: none !important;
  }
}



@media screen and (min-width: $desktop-s) {
  .d-desktop-hidden {
    display: none !important;
  }
}


@media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
  .d-desktop-only {
    display: none !important;
  }









}



//banner
.hero-wrapper {
  position: relative;
  bottom: 40px;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  &.fixed {
    position: fixed;
    right: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    z-index: -9999;

  }
  figure {
    margin: 0;
    position: relative;
    h1 {
      position: absolute;
      top: 20px;
      left: 20px;
      border-right: 3px solid #fff;
      padding: 5px 10px 5px 5px;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
}










section#formCallback {
  position: relative;
  .nadpisFormLeft {
    position: absolute;
    left: 0;
    bottom: -10%;
    @media (max-width: $phone) {
      display: none;
    }
  }
  .nadpisFormRight {
    position: absolute;
    right: 0;
    top: 15%;
    @media (max-width: $phone) {
      display: none;
    }
  }
  .section-title {
    justify-content: center;
    @media (max-width: $phone) {
      padding-bottom: 50px;
      justify-content: flex-start;
    }
  }
  .section-content {
    position: relative;
  }
}

section#pageBuyingServices {
  padding-top: 100px;
  .container-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .section-title {
      padding-right: 20%;
      flex-direction: column;
      align-items: flex-start;
      -webkit-flex: 1 1 50%;
      -moz-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding-left: 40px;
      &__text {
        text-transform: uppercase;
      }
      &__desc {
        padding-bottom: 40px;
      }
      &__tiezers {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 70px;
        .tiezer-item {
          margin-right: 60px;
          &__value {
            margin: 0;
            padding-bottom: 10px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }

    }
    .section-content {
      -webkit-flex: 1 1 50%;
      -moz-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      height: 760px;
      width: 50%;
      position: relative;
      @media screen and (min-width: $desktop-s) and (max-width: $desktop-m - 1) {
        height: 500px;

      }
      @media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
        height: 320px;
      }
      @media (max-width: $tablet-s - 1) {
        height: 233px;
      }
      .image-wrapper {
        max-width: 100%;
        margin-left: auto;
        position: relative;
        height: 100%;
        overflow: hidden;
        @include borderRadius(60px);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}



@media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
  #pageNewsItem {
    .article-section-content {
      max-width: 75% !important;
      blockquote {
        height: 157px !important;
        background: no-repeat left center/25% url("/img/quote.png") !important;
        padding-left: 80px;
      }

    }
  }
}

@media (max-width: $tablet-s - 1px) {
  #pageNewsItem {
    .article-section-content {
      max-width: 75% !important;
      blockquote {
        height: 140px !important;
        background: no-repeat left/25% center url("/img/quote.png") !important;
        padding-left: 80px;
      }

    }
  }

}

#pageNewsItem .article-section-content {
  @media (max-width: $tablet-m) {
    max-width: 100%!important;
  }
}




@media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
  section#pageBuyingServices {
    .container-page {
      flex-wrap: wrap;
      .section-title {
        width: 100%;
        padding-left: 0;
        &__btn {
          width: 100% !important;
          .btn {
            width: 100% !important;
          }
        }
      }
      .section-content {
        width: 100%;
        margin: 0 -20px;
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        .image-wrapper {
          max-width: 100%;
          margin-left: 0;
          @include borderRadius(0);
          img {
            width: 100%;
            height: auto;
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-s - 1) {
  section#pageBuyingServices {
    .container-page {
      flex-wrap: wrap;
      .section-title {
        width: 100%;
        padding-left: 0;
        &__btn {
          width: 100% !important;
          .btn {
            width: 100% !important;
          }
        }
      }
      .section-content {
        width: 100%;
        margin: 0 -20px;
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        .image-wrapper {
          max-width: 100%;
          margin-left: 0;
          @include borderRadius(0);
          img {
            width: 100%;
            height: auto;
          }

        }
      }
    }
  }
}


@media screen and (max-width: 1439px) and (min-width: 768px) {
  .top-menu {
    .modal-wrapper {
      width: 100%;
    }
  }
}



// ui
.buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  .btn {
    margin-right: 30px;
  }
}
.colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  .color-item {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    .item-value {
      border: 1px solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      &.color-bgr {
        background: $colorBgr;
      }
      &.color-orange-main {
        background: $orangeMain;
      }
      &.color-orange-dark {
        background: $orangeDark;
      }
      &.color-orange-light {
        background: $orangeLight;
      }
      &.color-main-blue {
        background: $mainBlue;
      }
      &.color-main-dark {
        background: $mainDark;
      }
      &.color-main-dark-ext {
        background: $mainDarkExt;
      }
      &.color-border {
        background: $borderGray;
      }
    }
  }
}