@import "_variables";

@import "_mixins";
@import "_fonts";
@import "_containers";
@import "_typography";
@import "_buttons";
@import "_slider";
@import "_forms";
@import "_modal";

// PARTS
@import "parts/header";
@import "parts/footer";
@import "parts/banner";
@import "parts/advantages";
@import "parts/building-position";
@import "parts/map";
@import "parts/choose-appt";
@import "parts/parking";
@import "parts/news";


// PAGES
@import "parts/page-appt";
@import "parts/page-news";




* {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
}



body {
  background: $colorBgr;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  @include transition(all, .5s);
}






.nadpis3 {
  position: absolute;
  top: 0;
  right: 0;
}

.d-none-t {
  @media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
    display: none !important;
  }
}

.d-none-m {
  @media screen and (max-width: $tablet-s - 1) {
    display: none !important;
  }
}



@media screen and (min-width: $desktop-s) {
  .d-desktop-hidden {
    display: none !important;
  }
}


@media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
  .d-desktop-only {
    display: none !important;
  }






  #buyingServices {
    padding-top: 150px !important;
    .section-content {
      #sliderServices {
        padding-left: 20px !important;
      }
    }
  }

  #buildingStage {
    padding-top: 150px !important;
    .section-title {
      flex-wrap: wrap;
      &-filter {
        order: 3;
        -webkit-flex: 1 1 100% !important;
        -moz-flex: 1 1 100% !important;
        -ms-flex: 1 1 100% !important;
        flex: 1 1 100% !important;
        margin-left: 0 !important;
        margin-top: 80px;
        &__item {
          width: 100%;
          .btn-filter {
            flex-grow: 1;
          }
        }
      }
    }
    .section-content {
      .slider-nav {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .slider-point {
          @include borderRadius(50%);
          width: 8px;
          height: 8px;
          background: $orangeLight;
          border: 1px solid transparent;
          @include transition(all, .5s);
          cursor: pointer;
          margin-right: 8px;
          &:last-child {
            margin-right: 8px;
          }
          &.active {
            background: $orangeDark;
          }
        }
      }
    }
  }


}



//banner
.hero-wrapper {
  position: relative;
  bottom: 40px;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  &.fixed {
    position: fixed;
    right: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    z-index: -9999;

  }
  figure {
    margin: 0;
    position: relative;
    h1 {
      position: absolute;
      top: 20px;
      left: 20px;
      border-right: 3px solid #fff;
      padding: 5px 10px 5px 5px;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
}







section#buyingServices {
  padding-top: 200px;

  .section-title {
    &__btns {
      display: flex;
      .navBtn {
        svg path {
          fill:none;
          stroke: $mainDark;
        }
        &:hover {
          svg path {
            fill:none;
            stroke: $colorBgr;
          }

        }
        &.disabled {
          border-color: $borderGray;
          background: $borderGray;
          svg path {
            fill:none;
            stroke: $colorBgr;
          }

        }
      }
      .nextBtn {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        @extend .ml-15;
      }
      .btn {

        &:last-child {
          margin-left: 20px;

        }
      }
    }
  }

  .section-content {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: -1px;
    #sliderServices {
      display: flex;
      flex-direction: row;
      @include paddingSlider(padding, left);
      @include transition(all, .5s);

      .slider-item {
        width: 30%;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
        &__image {
          position: relative;
          overflow: hidden;
          @include borderRadius(60px);
          img {
            @include transition(all, .5s);
            height: 100%;
            width: auto;
          }
        }
        &__text {
          font-family: var(--font-alimini);
        }
        a {
          opacity: 0;
          z-index: -1;
          @include transition(all, .5s);
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          span {
            max-width: 60%;
            text-align: center;
            text-decoration: none;
          }

        }
        &:hover {
          img {
            @include transform(scale, 1.2);
          }
          a {
            opacity: 1;
            z-index: 5;

          }

        }

      }
    }
  }
}


section#buildingStage {
  background: $colorBgr;
  padding-top: 200px;

  .section-title-filter {

    .btn-select {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 1600px) {
    .section-title-filter {
      .btn-filter {
        margin-right: 16px;
      }
      .btn-select {
        flex-grow: 1;
        margin-left: 24px;
      }
    }
  }

  .callendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-item {
      border-bottom: 1px solid $mainDark;
      padding-bottom: 20px;
      flex: 1 1 auto;
      text-align: center;
      @include transition(all, .5s);
      cursor: pointer;
      &.active, &:hover {
        color: $orangeMain;
        border-bottom: 1px solid $orangeMain;
        padding-bottom: 20px;

      }
    }
  }


  .section-content {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
    .slider-btns {
      position: absolute;
      z-index: 5;
      width: 70%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      top: 50%;
      transform: translateY(-50%);
      .prevBtn {
        left: -61px;
        position: relative;
      }
      .navBtn {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        svg path {
          fill:none;
          stroke: $colorBgr;
        }
        &:hover {
          svg path {
            fill:none;
            stroke: $colorBgr;
          }

        }
        &.disabled {
          border-color: $borderGray;
          background: $borderGray;
          svg path {
            fill:none;
            stroke: $colorBgr;
          }

        }
      }
      .nextBtn {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        position: relative;
        right: -61px;
      }

    }
    #sliderStages {
      display: flex;
      flex-direction: row;
      @include paddingSlider(padding, left);
      @include transition(all, .5s);

      .slider-item {
        width: 70%;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        &__image {
          position: relative;
          overflow: hidden;
          @include borderRadius(60px);
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }

}

section#formCallback {
  position: relative;
  .nadpisFormLeft {
    position: absolute;
    left: 0;
    bottom: -10%;
  }
  .nadpisFormRight {
    position: absolute;
    right: 0;
    top: 15%;
  }
  .section-title {
    justify-content: center;
  }
  .section-content {
    position: relative;
  }
}


section#pageBuyingServices {
  padding-top: 100px;
  .container-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .section-title {
      padding-right: 20%;
      flex-direction: column;
      align-items: flex-start;
      -webkit-flex: 1 1 50%;
      -moz-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding-left: 40px;
      &__text {
        text-transform: uppercase;
      }
      &__desc {
        padding-bottom: 40px;
      }
      &__tiezers {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 70px;
        .tiezer-item {
          margin-right: 60px;
          &__value {
            margin: 0;
            padding-bottom: 10px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }

    }
    .section-content {
      -webkit-flex: 1 1 50%;
      -moz-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      height: 760px;
      width: 50%;
      position: relative;
      @media screen and (min-width: $desktop-s) and (max-width: $desktop-m - 1) {
        height: 500px;

      }
      @media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
        height: 320px;
      }
      @media (max-width: $tablet-s - 1) {
        height: 233px;
      }
      .image-wrapper {
        max-width: 100%;
        margin-left: auto;
        position: relative;
        height: 100%;
        overflow: hidden;
        @include borderRadius(60px);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}


#pageNewsItem {
  padding-top: 100px;
  .section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .article-section-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 77%;
      position: relative;
      &__wrapper {
        max-width: 100%;
        padding-right: 40px;
      }
      &__text {
        max-width: 100%;
        margin: 0;
      }
      &__date {

      }
      &__image {
        width: 100%;
        overflow-x: hidden;
        position: relative;
        @include borderRadius(60px);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .article-section-side {
      display: block;
      width: 23%;
      border: 1px solid $orangeMain;
      margin: -2px;
      @include borderRadius(25px);
      padding-top: 10px;
      &__title, &__item {
        max-width: 100%;
        margin: 30px;
        border-bottom: 1px solid $borderGray;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
        h3 {
          margin: 0;
        }
        a {
          margin-bottom: 16px;
          color: $mainDark;
          text-decoration: none;
          @include transition(all, .5s);
          &:hover {
            color: $orangeMain;
          }
        }
        .article-date {
          color: $lightGrayText;
          font-size: 16px;
        }
      }
    }
    .article-section-content {
      max-width: 50%;

      strong, b {
        font-weight: 600;
      }

      blockquote {
        margin: 80px 0 80px 100px;
        height: 210px;
        background: no-repeat left center url("/img/quote.png");
        padding-left: 115px;
        display: flex;
        align-items: center;
      }

      a {
        text-decoration: none;
        color: $orangeMain;
        @include transition(all, .5s);
        &:hover {
          color: $orangeDark;

        }
      }

      h4 {
        font: var(--font-main);
        font-weight: 600;
        font-size: 24px;
      }

      ul {
        padding-left: 16px;
        li {
          line-height: 40px;

          &::marker {
            color: $orangeMain;
          }
        }
      }

      ol {
        list-style: decimal;
        position: relative;
        padding-left: 26px;
        li {
          padding-left: 20px;
          line-height: 40px;
          position: relative;
          &:before {
            content: counter(list-item);
            color: #fff;
            background: url(/img/marker.svg);
            width: 36px;
            height: 36px;
            position: absolute;
            display: block;
            left: -26px;
            text-align: center;
          }
          &::marker {
            content: none;
          }
        }
      }

    }
  }
}

@media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
  #pageNewsItem {
    .article-section-content {
      max-width: 75% !important;
      blockquote {
        height: 157px !important;
        background: no-repeat left center/25% url("/img/quote.png") !important;
        padding-left: 80px;
      }

    }
  }
}

@media (max-width: $tablet-s - 1px) {
  #pageNewsItem {
    .article-section-content {
      max-width: 75% !important;
      blockquote {
        height: 140px !important;
        background: no-repeat left/25% center url("/img/quote.png") !important;
        padding-left: 80px;
      }

    }
  }

}



#pageServices {
  padding-top: 200px;
  padding-bottom: 200px;
  background: $colorBgr;

  &.pageSection {
    padding-top: 100px;
    padding-bottom: 0;
    .section-pills {
      flex-wrap: wrap;
      &__item {
        margin-bottom: 40px;
        &:nth-child(3) {
          .pill {
            margin-right: 0;
          }
        }
      }
    }
    .btnBlock {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .section-pills {
    margin: 0 -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .section-pills__item {
      flex: 0 0 33.3%;
      height: 600px;
      width: 33%;
      margin-bottom: 80px;
      @media screen and (min-width: $desktop-s) and (max-width: $desktop-m - 1) {
        height: 500px;

      }
      @media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
        height: 500px;
        flex: 0 0 50%;
        width: 50%;
      }
      @media (max-width: $tablet-s - 1) {
        height: 300px;
        flex: 0 0 100%;
        width: 100%;

      }

      .pill {
        border: 1px solid $orangeMain;
        position: relative;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 60px;
        height: inherit;
        overflow: hidden;
        margin: 0 20px ;

        img {
          height: 100%;
          min-width: 100%;
          width: auto;
        }
        &-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: transparent;
          @include transition(all, .8s);
          a {
            text-decoration: none !important;
          }
          &:hover {
            background: $orangeMain;
          }
          &__title, &__date {
            padding: 80px 30px;
            font-family: var(--font-alimini);
            font-size: 48px;
            color: white;
            @include transition(all, .8s);
            cursor: pointer;

          }
        }
      }
      &.w-image {
        .pill {
          &-content {
            &__title, &__date {
              color: $mainDark;
              @include transition(all, .5s);
            }
            &:hover {
              .pill-content__title, .pill-content__date {
                color: white !important;
              }

            }

          }

        }
      }
    }
  }



}



@media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
  section#pageBuyingServices {
    .container-page {
      flex-wrap: wrap;
      .section-title {
        width: 100%;
        padding-left: 0;
        &__btn {
          width: 100% !important;
          .btn {
            width: 100% !important;
          }
        }
      }
      .section-content {
        width: 100%;
        margin: 0 -20px;
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        .image-wrapper {
          max-width: 100%;
          margin-left: 0;
          @include borderRadius(0);
          img {
            width: 100%;
            height: auto;
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-s - 1) {
  section#pageBuyingServices {
    .container-page {
      flex-wrap: wrap;
      .section-title {
        width: 100%;
        padding-left: 0;
        &__btn {
          width: 100% !important;
          .btn {
            width: 100% !important;
          }
        }
      }
      .section-content {
        width: 100%;
        margin: 0 -20px;
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        .image-wrapper {
          max-width: 100%;
          margin-left: 0;
          @include borderRadius(0);
          img {
            width: 100%;
            height: auto;
          }

        }
      }
    }
  }
}


@media screen and (max-width: 1439px) and (min-width: 768px) {
  .top-menu {
    .modal-wrapper {
      width: 100%;
    }
  }
}



// ui
.buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  .btn {
    margin-right: 30px;
  }
}
.colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  .color-item {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    .item-value {
      border: 1px solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      &.color-bgr {
        background: $colorBgr;
      }
      &.color-orange-main {
        background: $orangeMain;
      }
      &.color-orange-dark {
        background: $orangeDark;
      }
      &.color-orange-light {
        background: $orangeLight;
      }
      &.color-main-blue {
        background: $mainBlue;
      }
      &.color-main-dark {
        background: $mainDark;
      }
      &.color-main-dark-ext {
        background: $mainDarkExt;
      }
      &.color-border {
        background: $borderGray;
      }
    }
  }
}