section#advantages {
  position: relative;

  .companyName {
    position: relative;
    top: -200px;
    background: transparent;
    z-index: 2;
    .container {
      display: flex;
      flex-direction: column;
      span {
        color: #ffffffb5;
        margin-bottom: 18px;
      }
      img {
        width: 216px;
        height: auto;
      }

    }
  }
  .mainBlock {
    background: $colorBgr;
  }
  .section-title {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin: 0;
    }
  }
  .section-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-bottom: -1px;

    .nav-wrapper {
      max-width: fit-content;
      position: absolute;
      bottom: 0;
    }


    .adv-slider-text {
      width: 50%;
      position: relative;
      -webkit-flex: 1 1 40%;
      -moz-flex: 1 1 40%;
      -ms-flex: 1 1 40%;
      flex: 0 0 40%;
      height: 800px;
      .slider {
        position: relative;
        display: block;
        height: 100%;

        &-item {
          opacity: 0;
          z-index: -1;
          height: 0;
          position: absolute;
          top: 0;
          @include transition(all, 1s);
          &.current {
            left: 0;
            opacity: 1;
            z-index: 2;
            height: fit-content;
            position: relative;
            margin-bottom: auto;


          }
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      #advText {
        li {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
      h3 {
        margin-top: 0;
      }
      .item-text {
        font-size: 18px;
        margin-bottom: 40px;
      }
    }
    .slider-images {
      position: relative;
      overflow: hidden;
      width: 50%;
      height: 800px;
      .slider-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: absolute;
        height: 100%;
        .slider-item {
          margin-right: 40px;
          opacity: 0;
          z-index: -1;
          width: 0;
          left: 100%;
          height: 100%;
          @include transform(translateX, calc(200% - 80px));
          img {
            width: auto;
            height: 100%;
          }
          &.current, &.active {
            left: 0;
            opacity: 1;
            //width: calc(100% - 80px);
            @include borderRadius(60px);
            position: relative;
            overflow: hidden;

          }
          &.current {
            z-index: 2;
            @include transition(all, 1s);
            @include transform(translateX, 0);

          }
          &.active {
            z-index: 3;
            position: absolute;
            @include transform(translateX, calc(100% + 40px));
            @include transition(all, 1s);
            //left: calc(100% - 40px);

          }
          &.prev {
            opacity: 1;
            z-index: -1;
            position: absolute;
            left: 0;
            @include transform(translateX, 0);
            //width: calc(100% - 80px);
            overflow: hidden;
            @include borderRadius(60px);
            @include transition(all, 1s);


          }
        }
      }
    }
  }
}


@media (min-width: $tablet-l) {
  #advantages {
    .nav-points {
      display: none;
    }
  }

}

@media (max-width: $tablet-l - 1) {
  #advantages {
    .section-content {
      flex-wrap: wrap;
      flex-direction: column;
      .adv-slider-text {
        width: 100% !important;
        -webkit-flex: 1 1 100% !important;
        -moz-flex: 1 1 100% !important;
        -ms-flex: 1 1 100% !important;
        flex: 1 1 100% !important;
        height: fit-content !important;
        padding-bottom: 40px;
      }
      #advImages {
        width: 100% !important;
        -webkit-flex: 1 1 100% !important;
        -moz-flex: 1 1 100% !important;
        -ms-flex: 1 1 100% !important;
        flex: 1 1 100% !important;
        height: 550px !important;
        .slider-wrapper {
          @include transition(all, .5s);
        }
        .slider-item {
          position: relative;
          border-radius: 0 !important;
          overflow-y: hidden;
          height: 100%;
          margin-right: 0;

          img {
            min-width: 100% !important;
            min-height: 100% !important;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
            position: relative;
          }
          &.prev, &.current, &.active {
            margin-right: 0;
            position: relative;
            left: unset;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;
            transform: unset;
          }


        }
      }
      .nav-wrapper {
        bottom: 250px;
        max-width: 100% !important;
        right: 0;
        left: 0;
        display: none !important;
        .adv-slider-nav {
          justify-content: space-between;
          max-width: 100%;
          bottom: 220px;
          .btn {
            @include btnColors($orangeMain, $orangeMain, $colorBgr, $orangeDark, $orangeDark, $colorBgr);
          }
          .sliderQty {
            display: none;
          }
        }
      }
      .nav-points {
        display: block;
        width: 100%;
        margin-top: 15px;
        &__items {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .nav-item {
            display: block;
            width: 8px;
            height: 8px;
            border: 1px solid transparent;
            @include borderRadius(50%);
            background: $orangeLight;
            @include transition(all, .5s);
            margin-right: 8px;
            &:last-child {
              margin-right: 0;
            }
            &:hover, &.active {
              background: $orangeDark;
            }
          }
        }
      }

    }
  }

}

@media (max-width: $tablet-s) {
  #advantages {
    .section-title {
      flex-direction: column !important;
      .btn {
        height: 80px;
        border-radius: 40px;
        background: $orangeMain;
        color: white;
        width: 100%;
        margin-top: 24px;
        @include transition(all, .5s);
        &:hover {
          background: $orangeDark;

        }
      }
    }
  }
}

.advantages-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 550px;
}

#advSlider {
  overflow: hidden;
}

#advSlider .item-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    &__icon {
      margin-right: 10px;
    }
    &__desc {
      font-family: var(--font-alimini);
      font-size: 24px;
      text-transform: uppercase;
      color: $mainBlue;
      margin-right: 20px;
      white-space: nowrap;
    }
  }
}

#advSlider .advantages-desc-carousel {
  max-width: 65%;
  width: 100%;
  margin-left: 0;
}

.advantages-desc-carousel .item-title {
  margin-top: 0;
}
.advantages-desc-slide {
  background: #f6f5f1;
}

#advSlider .advantages-gallery-slide img {
  border-radius: 60px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.advantages-gallery-slide__media {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}
.advantages-gallery-slide:last-child .advantages-gallery-slide__media {
  padding-right: 70px;
}

// #advSlider .advantages-gallery-slide:last-child img {
//   margin-right: 400px;
// }

#advSlider .advantages-gallery-carousel {
  // max-width: 30%;
  width: 120%;
  margin-right: 0;
}


.advantages-desc-buttons {
}

.advantages-desc-carousel .advantages-desc-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  z-index: 5;
  display: grid;
  transform: translateY(-140px);
  grid-template-columns: 1fr 1fr 3fr;

  .navBtn {
    svg path {
      pointer-events: none;
      fill:none;
      stroke: $mainDark;
    }
    &:hover {
      svg path {
        fill:none;
        stroke: $colorBgr;
      }

    }
    &.swiper-button-disabled {
      border-color: $borderGray;
      background: $borderGray;
      svg path {
        fill:none;
        stroke: $colorBgr;
      }

    }
  }
  .nextBtn {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    @extend .ml-15;
  }

  .advantages-desc-pagination {
    @extend .ml-20;

    font-family: var(--font-alimini);
    font-size: 48px;
    color: $borderGray;
    pointer-events: none;
  }

  .advantages-desc-pagination span {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  .advantages-desc-pagination .swiper-pagination-current {
    color: $orangeMain;
  }
}
