section#advantages {
  position: relative;

  .companyName {
    position: relative;
    top: -200px;
    background: transparent;
    z-index: 2;

    .container {
      display: flex;
      flex-direction: column;

      span {
        color: #ffffffb5;
        margin-bottom: 18px;

        @media (max-width: $tablet-s) and (min-width: $phone + 1) {
          margin-bottom: 28px;
        }
      }

      img {
        width: 216px;
        height: auto;

        @media (max-width: $tablet-s) {
          width: 256px;
        }
      }
    }

    @media (max-width: $tablet-s) {
      top: -255px;
      margin-bottom: -60px;
    }
    @media (max-width: $phone) {
      margin-bottom: -90px;
    }

  }

  .mainBlock {
    background: $colorBgr;
  }
  .section-title {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin: 0;
      line-height: 1.1;

      @media (min-width: $desktop-s + 1) {
        text-transform: initial;
        margin-top: 0.2em;
      }
    }
    @media (min-width: $desktop-s + 1) {
      padding-bottom: 95px;
    }
    @media (min-width: $tablet-l + 1) {
      padding-bottom: 100px;
    }
  }
  .section-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-bottom: -1px;

    .nav-wrapper {
      max-width: fit-content;
      position: absolute;
      bottom: 0;
    }


    .adv-slider-text {
      width: 50%;
      position: relative;
      -webkit-flex: 1 1 40%;
      -moz-flex: 1 1 40%;
      -ms-flex: 1 1 40%;
      flex: 0 0 40%;
      height: 800px;
      .slider {
        position: relative;
        display: block;
        height: 100%;

        &-item {
          opacity: 0;
          z-index: -1;
          height: 0;
          position: absolute;
          top: 0;
          @include transition(all, 1s);
          &.current {
            left: 0;
            opacity: 1;
            z-index: 2;
            height: fit-content;
            position: relative;
            margin-bottom: auto;


          }
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      #advText {
        li {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
    .slider-images {
      position: relative;
      overflow: hidden;
      width: 50%;
      height: 800px;
      .slider-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: absolute;
        height: 100%;
        .slider-item {
          margin-right: 40px;
          opacity: 0;
          z-index: -1;
          width: 0;
          left: 100%;
          height: 100%;
          @include transform(translateX, calc(200% - 80px));
          img {
            width: auto;
            height: 100%;
          }
          &.current, &.active {
            left: 0;
            opacity: 1;
            //width: calc(100% - 80px);
            @include borderRadius(60px);
            position: relative;
            overflow: hidden;

          }
          &.current {
            z-index: 2;
            @include transition(all, 1s);
            @include transform(translateX, 0);

          }
          &.active {
            z-index: 3;
            position: absolute;
            @include transform(translateX, calc(100% + 40px));
            @include transition(all, 1s);
            //left: calc(100% - 40px);

          }
          &.prev {
            opacity: 1;
            z-index: -1;
            position: absolute;
            left: 0;
            @include transform(translateX, 0);
            //width: calc(100% - 80px);
            overflow: hidden;
            @include borderRadius(60px);
            @include transition(all, 1s);


          }
        }
      }
    }
  }
}


@media (min-width: $tablet-l) {
  #advantages {
    .nav-points {
      display: none;
    }
  }

}

@media (max-width: $tablet-l - 1) {
  #advantages {
    .section-content {
      flex-wrap: wrap;
      flex-direction: column;
      .adv-slider-text {
        width: 100% !important;
        -webkit-flex: 1 1 100% !important;
        -moz-flex: 1 1 100% !important;
        -ms-flex: 1 1 100% !important;
        flex: 1 1 100% !important;
        height: fit-content !important;
        padding-bottom: 40px;
      }
      #advImages {
        width: 100% !important;
        -webkit-flex: 1 1 100% !important;
        -moz-flex: 1 1 100% !important;
        -ms-flex: 1 1 100% !important;
        flex: 1 1 100% !important;
        height: 550px !important;
        .slider-wrapper {
          @include transition(all, .5s);
        }
        .slider-item {
          position: relative;
          border-radius: 0 !important;
          overflow-y: hidden;
          height: 100%;
          margin-right: 0;

          img {
            min-width: 100% !important;
            min-height: 100% !important;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
            position: relative;
          }
          &.prev, &.current, &.active {
            margin-right: 0;
            position: relative;
            left: unset;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;
            transform: unset;
          }


        }
      }
    }
  }

}

@media (max-width: $tablet-s) and (min-width: $phone) {
  section#advantages .section-title {
    align-items: flex-start;
  }
}

@media (max-width: $tablet-s) {

  #advantages .section-title h2 {
    max-width: 450px;
  }

  #advantages .section-title h2 br {
    display: none;
  }

  #advantages .section-title .btn {
    height: 80px;
  }
}

@media (max-width: $phone) {
  #advantages {
    .section-title {
      flex-direction: column !important;
      .btn {
        height: 60px;
        border-radius: 40px;
        background: $orangeMain;
        color: white;
        width: 100%;
        margin-top: 24px;
        @include transition(all, .5s);
        &:hover {
          background: $orangeDark;

        }
      }
    }
  }
}

.advantages-content {
  display: grid;
  grid-template-columns: 0.9fr 0.87fr;
  position: relative;
  z-index: 3;

  @media (max-width: $tablet-s) {
    grid-template-columns: 100%;
    row-gap: 45px;
  }
  @media (max-width: $phone) {
    row-gap: 45px;
  }
}

#advSlider {
  overflow: hidden;
}

#advSlider .item-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#advSlider .item-icons-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  @media (max-width: $tablet-s) {
    margin-right: 10px;
  }

  @media (max-width: $phone) {
    margin-bottom: 20px;
  }
}
#advSlider .item-icons-item:last-child {
  @media (max-width: $tablet-s) {
    margin-right: 0;
  }
}

#advSlider .item-icons-item__icon {
  margin-right: 10px;

  @media (max-width: $tablet-s) {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

#advSlider .item-icons-item__desc {
  font-family: var(--font-alimini);
  font-size: 24px;
  text-transform: uppercase;
  color: $mainBlue;
  margin-right: 20px;
  white-space: nowrap;

  @media (max-width: $tablet-s) {
    font-size: 18px;
  }
}

#advSlider .advantages-desc-carousel {
  max-width: 73%;
  width: 100%;
  margin-left: 0;

  @media (max-width: $tablet-s) {
    max-width: 100%;
  }
}

.advantages-desc-carousel h3 {
  margin-top: 0;

  @media (max-width: $tablet-s) {
    margin-bottom: 20px;
  }
}

.advantages-desc-carousel .item-text {
  font-size: 18px;
  margin-bottom: 40px;

  @media (max-width: $tablet-s) {
    margin-bottom: 30px;
  }
}

.advantages-desc-carousel .item-text p {
  font-size: inherit;
}

.advantages-desc-carousel .item-text p br {
  @media (max-width: $tablet-s) {
    display: none;
  }
}

.advantages-desc-slide {
  background: #f6f5f1;
}

#advSlider .advantages-gallery-slide img {
  border-radius: 60px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

  @media (max-width: $tablet-s) {
    border-radius: 0;
  }
}

.advantages-gallery-slide__media {
  padding-left: 20px;
  padding-right: 20px;
  height: 800px;

  @media (max-width: $tablet-s) {
    padding-left: 0;
    padding-right: 0;
    height: 550px;
  }

  @media (max-width: $phone) {
    height: 300px;
  }
}

.advantages-gallery-slide:last-child .advantages-gallery-slide__media {
  @media (min-width: $tablet-s + 1) {
    padding-right: 70px;
  }
}

#advSlider .advantages-gallery-carousel {
  width: 120%;
  margin-right: 0;

  @media (min-width: $tablet-l + 1) {
    width: 123%;
  }
  @media (max-width: $tablet-s) {
    width: #{'calc(100% + 40px)'};
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 12px;
  }
}


.advantages-desc-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  z-index: 5;
  display: grid;
  transform: translateY(-165px);
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: -70px;

  @media (max-width: $tablet-s) {
    display: none;
  }
}

.advantages-content .navBtn {
  svg path {
    pointer-events: none;
    fill:none;
    stroke: $mainDark;

    @media (max-width: $tablet-s) {
      stroke: #fff;
    }
  }
  &:hover {
    svg path {
      fill:none;
      stroke: $colorBgr;
    }

  }
  &.swiper-button-disabled {
    border-color: $borderGray;
    background: $borderGray;
    svg path {
      fill:none;
      stroke: $colorBgr;
    }

  }
}

.advantages-content .nextBtn {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  @extend .ml-15;
}

.advantages-desc-pagination {
  @extend .ml-20;

  font-family: var(--font-alimini);
  font-size: 48px;
  color: $borderGray;
  pointer-events: none;
  position: static;
}

.advantages-desc-pagination span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.advantages-desc-pagination .swiper-pagination-current {
  color: $orangeMain;
}


.advantages-desc-buttons .btn-rond-m {
  width: 160px;
  height: 160px;

  @media (max-width: $tablet-s) {
    width: 80px;
    height: 80px;
  }
}

#advantages .btn-rond br {
  @media (max-width: $phone) {
    display: none;
  }
}


.advantages-gallery-buttons {
  position: absolute;
  bottom: 250px;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-s + 1) {
    display: none;
  }
}
.advantages-gallery-buttons .btn {
  @include btnColors($orangeMain, $orangeMain, $colorBgr, $orangeDark, $orangeDark, $colorBgr);
}

.advantages-gallery-pagination {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-s + 1) {
    display: none;
  }
}

.advantages-gallery-pagination.swiper-horizontal>.swiper-pagination-bullets,
.advantages-gallery-pagination.swiper-pagination-bullets.swiper-pagination-horizontal,
.advantages-gallery-pagination.swiper-pagination-custom,
.advantages-gallery-pagination.swiper-pagination-fraction {
  position: static;
  margin: 0;
  // margin-top: 16px;
}

.advantages-gallery-pagination .swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  @include borderRadius(50%);
  background: $orangeLight;
  @include transition(all, .5s);
  margin-right: 8px;
  opacity: 1;
}  

.advantages-gallery-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.advantages-gallery-pagination .swiper-pagination-bullet:hover,
.advantages-gallery-pagination .swiper-pagination-bullet-active {
    background: $orangeDark;
}
