.banner {
  position: relative;
  height: 1000px;
  width: 100%;
  background: transparent;
  &-wrapper {
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }

}

@media (min-width: $tablet-l) {
  .banner {
    height: 1000px;
    &-wrapper {
      img {
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
      }

    }
  }

}
@media (max-width: $tablet-l - 1) {
  .banner {
    height: 900px;
    &-wrapper {
      img {
        height: 100%;
        width: auto;
      }

    }
  }

}
@media (max-width: $tablet-l) {
  .banner {
    height: 900px;
  }

}
@media (max-width: $tablet-s) {
  .banner {
    height: 800px;
  }

}