.banner {
  position: relative;
  height: 1000px;
  width: 100%;
  background: transparent;

  @media (max-width: $tablet-l) {
    height: 900px;
  }

  @media (max-width: $phone) {
    height: 600px;
  }
}

.banner-wrapper {
  position: static;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-attachment: fixed;
  background-image: url("../img/Comp_1_5.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #724853;
} 

.banner .companyName {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  @media (max-width: $tablet-s) {
    padding-bottom: 40px;
  }
}

.banner .companyName span {
  color: rgba(255,255,255,.7098039216);
  margin-bottom: 28px;

  @media (max-width: $tablet-s) {
    margin-bottom: 18px;
  }
  @media (max-width: $phone) {
    font-size: 18px;
    color: rgba(255,255,255,.9);
  }
}

.banner .companyName img {
  width: 256px;
  height: auto;

  @media (max-width: $tablet-s) {
    width: 256px;
  }

  @media (max-width: $phone) {
    width: 186px;
  }
}

