.banner {
  position: relative;
  height: 1000px;
  width: 100%;
  background: transparent;
  overflow: hidden;

  @media (max-width: $desktop-m) {
    height: 700px;
  }
  
  @media (max-width: $tablet-l) {
    height: 900px;
  }

  @media (max-width: $phone) {
    height: 600px;
  }
}

.banner-wrapper {
  will-change: transform;
  // background-color: #724853;
  width: 100%;
  height: 120%;
  position: absolute;
  top: -80%;
  left: 0;
  z-index: -1;
  // transform: translateY(#{'calc(-7vh + var(--scroll-top)/ 8)'});
} 

.banner__img,
.banner__video {
  will-change: transform;
  // position: absolute;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  transform: translateZ(0);
}

