@import "./nav-scroller";

section#buildingStage {
  background: $colorBgr;
  padding-top: 150px;

  @media (max-width: $tablet-m) {
    padding-top: 60px;
  }
  @media (max-width: $phone) {
    padding-top: 40px;
  }
}

section#buildingStage .section-title-filter .btn-filter {
  @media screen and (max-width: 1600px) {
    margin-right: 16px;
  }

  @media (max-width: $desktop-s) {
    flex-grow: 1;
  }

  @media (max-width: $tablet-s) {
    max-width: 167px;
    width: 100%;
  }

  @media (max-width: $phone) {
    width: auto;
  }
}

section#buildingStage .section-title-filter .btn-filter:nth-last-child(2) {
  @media (max-width: $phone) {
    margin-right: 0;
  }
}

section#buildingStage .section-title-filter .btn-select {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 1600px) {
    flex-grow: 1;
    margin-left: 24px;
  }

  @media (max-width: $tablet-s) {
    flex-grow: 1;
    margin: 0;
    padding: 0 !important;
  }

  @media (max-width: $phone) {
    margin-top: 20px;
    min-width: 100%;
    justify-content: space-around;
  }
}

section#buildingStage .section-title {

  @media (max-width: $desktop-s) {
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  @media (max-width: $phone) {
    padding-bottom: 40px;
  }
}

section#buildingStage .section-title__text {

  @media (max-width: $phone) {
    order: -2;
    margin-bottom: 16px;
  }
}

section#buildingStage .section-title__btn {

  @media (max-width: $phone) {
    order: -1;
    text-transform: initial;
    font-size: 18px;
    margin-bottom: 0;
  }
}



section#buildingStage .callendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $desktop-s) {
    width: 100%;
    overflow-x: hidden;
  }
}

section#buildingStage .section-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 55px;

  @media (max-width: $tablet-m) {
    padding-top: 42px;
  }
  @media (max-width: $phone) {
    padding-top: 40px;
  }
}

section#buildingStage .section-content .slider-btns {
  position: absolute;
  z-index: 5;
  width: 59.5%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 54%;
  transform: translateY(-50%);

  @media (max-width: $desktop-s) {
    width: 66.8%;
  }
}

section#buildingStage .section-content .slider-btns .prevBtn {
  left: -61px;
  position: relative;
}

section#buildingStage .section-content .slider-btns .navBtn {
  border-radius: 50%;
}

section#buildingStage .section-content .slider-btns .navBtn svg path {
  fill:none;
  stroke: $colorBgr;
}

section#buildingStage .section-content .slider-btns .navBtn:hover svg path {
  fill:none;
  stroke: $colorBgr;
}

section#buildingStage .section-content .slider-btns .navBtn.disabled {
  border-color: $borderGray;
  background: $borderGray;
}

section#buildingStage .section-content .slider-btns .navBtn.disabled svg path {
  fill:none;
  stroke: $colorBgr;
}

section#buildingStage .section-content .slider-btns .nextBtn {
  transform: rotate(180deg);
  position: relative;
  right: -61px;
}

section#buildingStage .section-content #sliderStages {
  display: flex;
  flex-direction: row;
  @include paddingSlider(padding, left);
  @include transition(all, .5s);

  @media (max-width: $tablet-s - 1) {
    padding-left: 0 !important;
  }
}

section#buildingStage .section-content #sliderStages .slider-item {
  width: 70%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}
section#buildingStage .slider-stages-carousel { 
  margin-left: -100px;
  margin-right: -100px;
  width: #{'calc(100% + 200px)'};
  padding-left: 100px;
  box-sizing: border-box;

  @media (max-width: $tablet-s) {
    width: #{'calc(100% + 40px)'};
    padding-left: 0;
    margin-left: -20px;
    margin-right: -20px;
  }
}

section#buildingStage .slider-stages-slide .slider-item__image,
section#buildingStage .section-content #sliderStages .slider-item__image {
  position: relative;
  overflow: hidden;
  @include borderRadius(60px);
  height: 700px;

  @media (max-width: $tablet-s) {
    @include borderRadius(0);
    height: 550px;
  }
  @media (max-width: $phone) {
    height: 300px;
  }
}

section#buildingStage .section-content #sliderStages .slider-item__image img {
  height: 100%;
  width: auto;
}

section#buildingStage .slider-stages-slide .slider-item__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section#buildingStage .section-title-filter__item {

  @media (max-width: $desktop-s) {
    width: 100%;
  }

  @media (max-width: $tablet-s - 1) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

section#buildingStage .section-content .slider-nav {

  @media (max-width: $desktop-s) {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

section#buildingStage .section-content .slider-nav .slider-point {

  @media (max-width: $desktop-s) {
    @include borderRadius(50%);
    width: 8px;
    height: 8px;
    background: $orangeLight;
    border: 1px solid transparent;
    @include transition(all, .5s);
    cursor: pointer;
    margin-right: 8px;
  }
}

#buildingStage .section-content .slider-nav .slider-point:last-child {

  @media (max-width: $desktop-s) {
    margin-right: 8px;
  }
}

#buildingStage .section-content .slider-nav .slider-point.active {

  @media (max-width: $desktop-s) {
    background: $orangeDark;
  }
}

#buildingStage .section-title-filter {

  @media (max-width: $tablet-l) {
    margin-left: 0;
    order: 2;
    width: 100%;
    margin-top: 80px;
  }

  @media (max-width: $phone) {
    margin-top: 54px;
  }
}

#buildingStage .section-title-filter__item .btn {
  width: 100%;
  min-width: 150px;

  @media (max-width: $desktop-s) {
    margin: 0;
    // max-width: 30%;
    max-width: 80px;
    min-width: 80px;
  }
}

#buildingStage .section-title-filter__item .btn-select {
  max-width: 188px;
  // min-width: 188px;
}

#buildingStage .section-title-filter__item .btn:not(.btn-select) {
  @media (max-width: $tablet-s - 1) {
    flex-grow: 1;
  }
}

#buildingStage .slider-btns {
  @media (max-width: $tablet-s - 1) {
    display: none !important;
  }
}



#buildingStage .swiper-pagination {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: static;

  @media (min-width: $tablet-s + 1) {
    display: none;
  }
  @media (max-width: $phone) {
    margin-top: 10px;
  }
}
#buildingStage .swiper-pagination.swiper-horizontal>.swiper-pagination-bullets, .advantages-gallery-pagination.swiper-pagination-bullets.swiper-pagination-horizontal,
#buildingStage .swiper-pagination.swiper-pagination-custom,
#buildingStage .swiper-pagination.swiper-pagination-fraction {
  position: static;
  margin: 0;
}
#buildingStage.swiper-pagination .swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  @include borderRadius(50%);
  background: $orangeLight;
  @include transition(all, .5s);
  margin-right: 8px;
  opacity: 1;
}  
#buildingStage .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
#buildingStage .swiper-pagination .swiper-pagination-bullet:hover {
  @media (any-hover:hover) {
    background: $orangeDark;
  }
}
#buildingStage .swiper-pagination .swiper-pagination-bullet-active {
  background: $orangeDark;
}
