section#buildingPosition {
  padding-top: 200px;
  position: relative;
  padding-bottom: 120px;

  @media (max-width: $desktop-s) {
    padding-bottom: 55px;
  }

  @media (max-width: $tablet-l) {
    padding-top: 80px;
  }
  @media (max-width: $tablet-s) {
    padding-top: 115px;
    padding-bottom: 80px;
    overflow: hidden;
  }

  @media (max-width: $phone) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

section#buildingPosition .nadpis2 {
  position: absolute;
  top: -30px;
  width: 100%;
  height: 106%;
  overflow: hidden;

  @media (max-width: $tablet-l) {
    display: none;
  }
}

section#buildingPosition .nadpis2 .container {
  height: inherit;

  @media (max-width: $desktop-s) {
    overflow: visible;
  }
}

section#buildingPosition .nadpis2 .container img {
  bottom: 0;
  position: absolute;
  opacity: 0.5;

  @media (min-width: $desktop-l) {
    left: 30%;
  }
  @media (max-width: $desktop-l - 1) {
    left: 20%;
    transform: rotate(-16deg);
  }
  @media (max-width: $desktop-s - 1) {
    left: 18%;
  }
}

section#buildingPosition .section-title {
  padding-bottom: 0;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: $tablet-l) {
    flex-wrap: wrap;
  }
  @media (max-width: $tablet-s) {
    max-width: 550px;
  }
}

section#buildingPosition .section-title__text {
  max-width: 50%;
  margin-top: 0;
  line-height: 1.1;

  @media (max-width: $tablet-l) {
    max-width: 60% !important;
    flex: 0 0 60% !important;
    padding-bottom: 40px;
  }
  @media (max-width: $tablet-s) {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  @media (max-width: $tablet-s) {
    padding-bottom: 20px;
  }
  @media (max-width: $phone) {
    text-transform: uppercase;
    line-height: 1.1;
    padding-bottom: 6px;
  }
}

section#buildingPosition .section-title__ext {
  width: 31%;
  text-transform: initial;
  font-size: 18px;

  @media (max-width: $desktop-s) {
    width: 30%;
  }

  @media (max-width: $tablet-l) {
    max-width: 80% !important;
    flex: 0 0 30% !important;
    font-size: 16px;
  }

  @media (max-width: $tablet-s) {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}

section#buildingPosition .section-title__ext p {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 1.4em;
}

section#buildingPosition .section-title__ext br {
  @media (max-width: $tablet-m) {
    display: none;
  }
}

