section#buyingServices {
  padding-top: 200px;

  @media (max-width: $desktop-s - 1) {
    padding-top: 150px;
  }

  @media (max-width: $tablet-m) {
    padding-top: 150px;
  }

  @media (max-width: $phone) {
    padding-top: 100px;
  }
}

section#buyingServices .section-title__text {
  @media (min-width: $tablet-l + 1) and (max-width: $desktop-s) {
    font-size: 80px;
  }
}

section#buyingServices .section-title {

  @media (max-width: $desktop-xs) {
    padding-bottom: 50px;
  }
  @media (max-width: $tablet-m) {
    padding-bottom: 60px;
  }

  @media (max-width: $phone) {
    padding-bottom: 50px;
  }
}

section#buyingServices .section-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: -1px;
}

section#buyingServices .section-content .swiper {
  @media (max-width: $tablet-s) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (max-width: $phone) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

section#buyingServices .swiper {
  margin-left: -100px;
  margin-right: -100px;
  padding-left: 100px;
  padding-right: 100px;

  @media (max-width: $tablet-l) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
section#buyingServices .section-content .swiper-wrapper {
  display: flex;
  flex-direction: row;
  // @include paddingSlider(padding, left);
  @include transition(all, .5s);

  @media (max-width: $tablet-s) {
    padding-left: 0;
    box-sizing: border-box;
    width: 100%;
  }
}

.buying-service-card {
  // padding-right: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none !important;
  color: $mainDark;
}

.buying-service-card__image {
  position: relative;
  overflow: hidden;
  height: 700px;
  @include borderRadius(60px);

  @media (max-width: $desktop-s) {
    height: 500px;
  }

  @media (max-width: $desktop-xs) {
    height: 370px;
  }

  @media (max-width: $tablet-s) {
    height: 400px;
  }

  @media (max-width: $phone) {
    height: 300px;
    @include borderRadius(30px);
  }
}

.buying-service-card__image img {
  @include transition(all, .5s);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buying-service-card__text {
  font-family: var(--font-alimini);
  text-decoration: none !important;
  color: $mainDark;

  @media (max-width: $desktop-xs) and (min-width: $tablet-l + 1) {
    margin-top: 20px;
    font-size: 36px;
  }

  @media (max-width: $phone) {
    font-size: 24px;
    margin-top: 15px;
  }
}

.buying-service-card .btn {
  opacity: 0;
  z-index: -1;
  @include transition(all, .5s);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.buying-service-card .btn span {
  max-width: 60%;
  text-align: center;
  text-decoration: none !important;
  color: $mainDark;
  color: #fff;
}

.buying-service-card:hover img {
  @media (any-hover:hover) {
    @include transform(scale, 1.2);
  }
}

.buying-service-card:hover .btn {
  @media (any-hover:hover) {
    opacity: 1;
    z-index: 5;
  }
}


