section#chooseAppt {
  position: relative;
  padding-top: 200px;

  .section-title {
    padding-bottom: 80px;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      span {
        color: $lightGrayText;
      }
    }
  }

  .section-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .appt-list {
      -webkit-flex: 0 0 50%;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 0;
        border-bottom: 1px solid $lightGrayText;
        cursor: pointer;
        color: $mainDark;
        text-decoration: none;
        @include transition(all, .5s);
        &:first-child {
          border-top: 1px solid $lightGrayText;

        }
        &:hover {
          background: $orangeLight;
        }
        .item-image {
          width: 150px;
          height: 110px;
          position: relative;
          overflow: hidden;
          margin-right: 40px;
          margin-left: 40px;
          img {
            position: relative;
            width: 100%;
            height: auto;
            @include transform(translateY, -50%);
            top: 50%;

          }
        }
        .item-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          &__caption {
            font-family: var(--font-main);
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 24px;
          }
        }
      }
      .btn {
        margin-top: 60px;
      }
    }
    .appt-filter {


      -webkit-flex: 1 0 auto;
      -moz-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      margin-left: 110px;
      order: 1;

    }
  }

}

@media (min-width: $tablet-l + 1) {
  #chooseAppt {
    .section-content {
      .filter-show, .filter-hide, #filterResult {
        display: none;
      }
    }
  }
}

@media (max-width: $tablet-l) {
  #chooseAppt {
    padding-top: 128px !important;
    .section-content {
      flex-wrap: wrap !important;
      position: relative;
      .filter-show, .filter-hide {
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-bottom: 40px;
        .btn {
          height: 60px !important;
        }
      }
      #filterResult {
        span {
          color: #000;
        }
      }
      .appt-list {
        order: 1 !important;
        -webkit-flex: 0 0 100% !important;
        -moz-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
      }
      .appt-filter {
        position: absolute;
        top: 100px;
        z-index: -1;

        width: 100%;
        background: $colorBgr;
        -webkit-flex: 0 0 100% !important;
        -moz-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        margin-left: 0 !important;
        opacity: 0;
        height: 0;
        @include transition(all, .5s);
        &.active {
          opacity: 1;
          height: fit-content;
          z-index: 100;

        }
      }
    }
  }

}
