// footer




footer {
  background: $colorBgr;
  bottom: -35px;
  margin-top: -35px;
  padding-top: 200px;
  position: relative;

  .footer-menu {
    border-top: 1px solid #8B8E91;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    .socials {
      display: flex;
      flex-direction: row;
      align-items: center;

      .btn-social {
        margin-right: 32px;
      }
    }
    .phone a {
      font-family: var(--font-alimini);
      font-size: 48px;
    }
  }

  .footer-info {
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid #8B8E91;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .footer-info__block {
      -webkit-flex: 0 0 50%;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      font-family: var(--font-main);
      font-size: 18px;
      &:last-child {
        -webkit-flex: 0 0 40%;
        -moz-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
      }
    }

  }

  .footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
      font-family: var(--font-main);
      font-size: 18px;
      color: $mainDark;
      @include transition(all, .5s);
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $orangeMain;
      }
    }
    div {
      font-family: var(--font-main);
      font-size: 18px;
      color: $mainDark;

    }
  }
}

@media (min-width: $tablet-s) {
  .footer-menu {
    flex-direction: row;
    .socials {
      justify-content: flex-start;
    }
  }
}

@media (max-width: $tablet-l - 1) {
  footer {
    .phone {
      display: none;
    }
    padding-bottom: 0;
    .footer-menu {
      justify-content: space-between;
    }
    .footer-info {
      flex-direction: column;
      &__block {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }

}

@media (max-width: $tablet-s - 1) {
  .footer-menu {
    flex-direction: column;
    padding-top: 30px;
    .socials {
      width: 100%;
      justify-content: space-between;
      padding-bottom: 30px;
      .btn-social {
        margin-right: unset !important;
      }

    }
    .recall {
      width: 100%;
      position: relative;
      .btn {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: $phone) {
  .socials .btn {
    max-width: 60px;
    max-height: 60px;
    .icon {
      width: 24px;
      height: 24px;
    }
  }
  .footer-bottom {
    flex-direction: column !important;
    .copyright {
      padding-top: 20px;
    }
  }
}





