body.modal-open {
  overflow: hidden;

}

.topmenu-font {
  @include getSizes(80px, 80px, 1920px, 1920px, false, true);
  @include getSizes(48px, 80px, 1440px, 1920px, false, false);
  @include getSizes(60px, 48px, 768px, 1440px, false, false);
  @include getSizes(32px, 60px, 360px, 768px, false, false);
  @include getSizes(32px, 32px, 360px, 360px, true, false);
}


@mixin addText {
  @include getSizes(18px, 18px, 1920px, 1920px, false, true);
  @include getSizes(18px, 18px, 1440px, 1920px, false, false);
  @include getSizes(16px, 18px, 768px, 1440px, false, false);
  @include getSizes(16px, 16px, 360px, 768px, false, false);
  @include getSizes(16px, 16px, 360px, 360px, true, false);
}



.top-menu {
  position: fixed;
  overflow: auto;
  z-index: -1;
  height: 100%;
  opacity: 0;
  width: 0;
  background: #000000a8;
  @include  transition(all, .4s);
}

.top-menu.active {
  width: 100%;
  opacity: 1;
  z-index: 20;
}

.top-menu .modal-wrapper {
  width: 60%;
  display: block;
  background: white;
  padding-top: 35px;

  @media screen and (min-width: $tablet-s) and (max-width: $desktop-s - 1) {
    width: 100%;
  }
  @media (max-width: $phone) {
    width: 100%;
  }
}
.top-menu .modal-wrapper .menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.top-menu .modal-wrapper .menu-items .menu-item {
  font-family: var(--font-alimini);
  line-height: 105%;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  color: $mainDark !important;
  text-decoration: none !important;

  @media (max-width: $phone) {
    margin-bottom: 24px;
  }
}
.top-menu .modal-wrapper .menu-items .menu-item:hover {
  color: $orangeDark;
  padding-left: 30px;
  color: $orangeMain !important;
  text-decoration: none !important;
}
.top-menu .modal-wrapper .btn {
  @media (max-width: $phone) {
    height: 50px;
    width: 40px;
    border: none;
    min-width: initial;
    justify-content: flex-start;
  }
}

.phone {
  margin-left: auto;
  margin-right: 42px;
}

.phone a {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  color: $mainDark;
  @include transition(all, .5s);
}
.phone a:hover {
  color: $orangeDark;
}


@media (min-width: $desktop-s + 1) {
  header .phone {
    margin-right: 34px;
  }
  header .recall {
    margin-right: -20px;
  }
}

@media (min-width: $tablet-l + 1) {
  header .phone a {
    font-size: 33px;
    font-family: var(--font-alimini);
  }
}

@media (max-width: $tablet-m) {
  header .phone a {
    font-size: 18px;
    font-family: var(--font-alimini);
  }
}

header {
  background: $colorBgr;
  overflow: hidden;

  @media (max-width: $phone) {
    overflow: visible;
  }
}

header .header-wrap {
    position: relative;
  }
header .header-wrap .header-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 35px;
  }

header .header-wrap .header-line .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

header .header-wrap .nadpis {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
header .header-wrap .nadpis .container {
    height: 100%;
  }
header .header-wrap .nadpis img {
    height: 100%;
  }

header .header-wrap .header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .header-wrap .header-block .btn {
  position: relative;
  text-decoration: none;
}

header .header-wrap .header-block .btn .arrow {
  position: absolute;
  left: -9px;
  transform: rotate(45deg);
  bottom: -9px;
}

header .header-wrap .header-block .btn .arrow path {
  fill: $orangeMain;
  @include transition(all, .5s);
}

header .header-wrap .header-block .btn:hover .arrow path {
  fill: $orangeDark
}

header .header-wrap .header-block .btn-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 100%;

  @media screen and (max-width: $tablet-s - 1) {
    flex-direction: column !important;
  }
}

header .header-wrap .header-block .btn-block .btn {
  margin-right: 40px;
  text-decoration: none;

  @media screen and (max-width: $tablet-s - 1) {
    margin-right: 0 !important;
    width: 100%;
  }
}

header .header-wrap .header-block .btn-block .add-text {
  display: flex;
  @media screen and (max-width: $tablet-s - 1) {
    justify-content: center;
    margin-top: 28px;
  }
}

header .header-wrap .header-block .btn-block .add-text a,
header .header-wrap .header-block .btn-block .add-text span {
  opacity: 0;
  position: absolute;
  @include transform(translateY, -50%);
  @include addText;
  font-family: var(--font-main);
  text-decoration: underline;
  color: $mainDark;
  @include transition(all, 1s);

  &.active {
    opacity: 1;

  }
  &:hover {
    color: $orangeDark;
  }
}

header {
  .slogan {
    width: 72%;
    text-transform: uppercase;
    line-height: 1.1;
  }
}
@media (min-width: $desktop-s + 1) {
  header .nadpis, .btn-map {
    display: flex;
  }
  header .btn-map {
    transform: translate(20px,35px);
  }

  header .h-1 {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
  }
}

header .h-1 {
  @media (max-width: $desktop-s) {
    margin-top: 1.3em;
    margin-bottom: 0.5em;
  }

  @media (max-width: $tablet-s) {
    margin-top: 1.1em;
  }
  
  @media (max-width: $phone) {
    line-height: 1.15;
  }
}

.header-block .btn-block {
  padding-bottom: 100px;
  
  @media (max-width: $desktop-s) {
    padding-bottom: 80px;
  }

  @media (max-width: $tablet-s) {
    padding-bottom: 100px;
  }

  @media (max-width: $phone) {
    padding-bottom: 50px;
  }
}

@media (max-width: $tablet-l) {
  header .nadpis, .phone, .btn-map {
    display: none;
  }
  header .slogan {
    width: 100%;
  }

  header .header-wrap .header-block .btn-block .add-text a,
  header .header-wrap .header-block .btn-block .add-text span {
    width: 100%;
  }
}

@media (min-width: $phone + 1) {
  .recall .icon {
    display: none;
  }
}

@media (max-width: $tablet-s) {
  .header-line .recall {
    min-width: 203px;
    width: 203px;
  }

  .header-block .btn-block {
    padding-bottom: 100px;
  }

}



@media (min-width: $phone + 1) and (max-width: $tablet-s) {
  header .header-wrap .header-line .logo {
    transform: translateX(-85%);
  }
}

@media (max-width: $phone) {
  .header-line {
    padding-top: 20px;
  }

  .header-line .logo {
    width: 40px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .header-block {
    padding-bottom: 64px;
    .btn {
      height: 60px;
    }
    .btn-block {
      padding-bottom: 0;
      .btn {
        max-width: 100%;
        padding: unset;
        margin: unset;
        min-width: unset;
        width: 100%;
      }
    }
  }

  .header-line .btn {
    border: 0;
    width: fit-content;
    min-width: unset;
    height: fit-content;
  }

  .header-line .recall span {
    display: none;
  }
  .header-line .recall .icon {
    display: block !important;
  }
  header .h-1 {
    margin-top: 1.3em;
  }
}

@media (max-width: 320px) {
  header h1 {
    font-size: 40px;
  }
}





