section#mapBlock {
  width: 100%;
  position: relative;
  z-index: 2;
}

section#mapBlock #map {
  width: 100%;
  height: 810px;
  
  @media (max-width: $desktop-s) {
    height:600px;
  }

}

section#mapBlock .filter-btn #filterBtn svg {
  margin-right: 20px;
}

#filterBtn {
  position: absolute;
  @include transition(bottom, .5s);

  @media (min-width: $tablet-m) {
    right: 80px;
    bottom: 40px;
    right: 20px;
  }

  @media (max-width: $tablet-m - 1) {
    width: calc(100% - 40px);
  }

  @media (max-width: $tablet-m) {
    left: 50%;
    bottom: 60px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    width: 90%;
  }
}

#filterBtn.show {
  @media (min-width: $tablet-m + 1) {
    bottom: 200px;
  }
  @media (max-width: $tablet-m) {
    position: fixed;
    z-index: 11;
    bottom: 30px;
  }
}

#filterBtn.show .hide-filter {
  display: block;
}

#filterBtn.show .show-filter {
  display: none;
}

#filterBtn .hide-filter {
  display: none;
}

.map-filter {
  @media (min-width: $tablet-m + 1) {
    position: absolute;
    opacity: 0;
    height: 0;
    z-index: -1;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $orangeMain;
    @include transition(all, .8s);
  }

  @media (max-width: $tablet-m) {
    position: absolute;
    opacity: 0;
    height: 0;
    z-index: -1;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $orangeMain;
    @include transition(all, .8s);
  }
  @media (max-width: $tablet-m) {
    position: fixed;
    bottom: -200vh;
    left: 0;
    padding-bottom: 130px;
    z-index: 5;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    max-height: 97vh;
    height: max-content;
    box-sizing: border-box;
    background: $colorBgr;
    z-index: 10;
    @include transition(all, .8s);

    background: #fff;
    overflow: auto;
    padding-top: 40px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.map-filter.active {
  @media (min-width: $tablet-l) {
    opacity: 1;
    height: 120px;

    z-index: 10;
    @include transition(all, .8s);
  }

  @media (max-width: $tablet-m) {
    // padding-top: 30px;
    opacity: 1;
    bottom: 0;
  }
}

.map-filter.active .map-filter__item {
  @media (min-width: $tablet-m + 1) {
    height: 120px;
  }

  @media (max-width: $tablet-m) {
    flex: initial;
    height: 80px;
    min-height: 80px;
  }
}

.map-filter__item {
  @media (min-width: $tablet-m + 1) {
    height: 0;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include transition(all, .5s);
  }

  @media (max-width: $tablet-m) {
    height: 0;
    width: 100%;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include transition(all, .5s);
  }
}

.map-filter__item svg path,
.map-filter__item span {
  @media (min-width: $tablet-m + 1) {
    fill: none;
    stroke: $colorBgr;
    color: $colorBgr;
  }
  @media (max-width: $tablet-m) {
    fill: none;
    stroke: $mainDark;
    color: $mainDark;
  }
}

.map-filter__item svg.fill path {
  @media (min-width: $tablet-m + 1) {
    fill: $colorBgr;
  }

  @media (max-width: $tablet-m) {
    fill: $mainDark;
  }
}

.map-filter__item:hover {
  @media (any-hover:hover) {
    background: $orangeDark;
  }
}


.map-filter__item.active {
  @media (min-width: $tablet-m + 1) {
    background: $orangeDark;
  }
}

.map-filter__item:hover {
  @media (any-hover:hover) {
    @media (max-width: $tablet-m) {
      svg path, span {
        fill: none;
        stroke: $colorBgr;
        color: $colorBgr;
      }
      svg.fill path {
        fill: $colorBgr;
      }
    }
  }
}

.map-filter__item.active {
  @media (max-width: $tablet-m) {
    svg path, span {
      fill: none;
      stroke: $colorBgr;
      color: $colorBgr;
    }
    svg.fill path {
      fill: $colorBgr;
    }
  }
}

