.nav-scroller {
	position: static;
	top: -1px;
	z-index: 10;
	margin-top: -1px;

	@media (max-width: $tablet-m) {
		padding-bottom: 3px;
	}
	@media (max-width: $phone) {
		margin-left: -16px;
		margin-right: -16px;
	}
}

.nav-scroller__container {
	@media (max-width: $tablet-m) {
		overflow: hidden;
		// margin-bottom: -20px;
		padding-left: 0;
		padding-right: 0;
		position: relative;
	}
}
.nav-scroller__container:after {
	@media (max-width: $tablet-m) {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		z-index: 1;
	  border-bottom: 1px solid $mainDark;
	}
}

.nav-scroller__links {
	--mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 9px, rgb(0, 0, 0) 18px, rgb(0, 0, 0) calc(100% - 18px), rgba(0, 0, 0, 0.25) calc(100% - 9px), rgba(0, 0, 0, 0));
	display: flex;
	justify-content: flex-start;
	white-space: nowrap;
	overflow: auto;
	overflow-y: hidden;
	margin-bottom: -20px;
  -webkit-mask-image: var(--mask);
  mask: var(--mask);
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-m + 1) {
		margin-left: -18px;
		margin-right: -18px;
  }

  @media (max-width: $tablet-m) {
  	flex-wrap: nowrap;
  	--mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 9px, rgb(0, 0, 0) 19px, rgb(0, 0, 0) calc(100% - 118px), rgba(0, 0, 0, 0.25) calc(100% - 18px), rgba(0, 0, 0, 0));
		padding-right: 18px;
		padding-left: 18px;
  }
}

.nav-scroller__link {
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
	border: none;
  border-bottom: 1px solid $mainDark;
  padding-bottom: 20px;
  margin-bottom: 20px;
  flex: 1 1 auto;
  text-align: center;
  @include transition(all, .5s);
  cursor: pointer;
  font-size: 16px;
  color: $mainDark;

	@media (max-width: $tablet-m) {
		margin-right: 40px;
	}
}

.nav-scroller__link:hover {

	@media (any-hover:hover) {
	  color: $orangeMain;
	  border-bottom: 1px solid $orangeMain;
	  padding-bottom: 20px;
	}
}

.nav-scroller__link.active {
  color: $orangeMain;
  border-bottom: 1px solid $orangeMain;
  padding-bottom: 20px;
}

.nav-scroller__link:last-child {
	margin-right: 0;

	@media (max-width: $tablet-m) {
		padding-right: 5rem;
	}
}