section#news {
  padding-top: 200px;
  padding-bottom: 190px;
  background: $colorBgr;
  overflow: hidden;
  
  @media (max-width: $desktop-s) {
    padding-bottom: 165px;
  }
  
  @media (max-width: $tablet-l - 1) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @media (max-width: $tablet-s) {
    padding-top: 150px;
    padding-bottom: 185px;
  }

  @media (max-width: $phone) {
    padding-top: 95px;  
    padding-bottom: 95px;
  }
}

section#news .section-title {
  @media (max-width: $desktop-s) {
    padding-bottom: 50px;
  }
}

section#news .section-title__text {
  @media (min-width: $tablet-l + 1) and (max-width: $desktop-s) {
    font-size: 80px;
  }
}

section#news .section-title__btn a {
  margin-right: 30px;
  text-decoration: none;
}

section#news.pageSection {
  padding-top: 100px;
  padding-bottom: 0;
}

section#news.pageSection .btnBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;

  @media (max-width: $tablet-s) {
    margin:0 !important;
  }

  @media (max-width: $phone) {
    flex-direction: column !important;
  }
}

.swiper.news-carousel {
  margin-right: -100px;
  margin-left: -100px;
  padding-left: 100px;
  padding-right: 100px;
}

.news-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  text-decoration: none;

  @media (max-width: $phone) {
    min-height: 300px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.news-card__inner {
  border: 1px solid transparent;
  position: relative;
  height: inherit;
  overflow: hidden;
  cursor: pointer;
  background: $colorBgr;
  @include borderRadius(60px);

  @media (max-width: $phone) {
    @include borderRadius(30px);
  }
}

.news-card__content {
  position: relative;
  z-index: 2;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  @include transition(all, .8s);
}

.news-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news-card__thumb:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.3);
  display: block;
  width: 100%;
  height: 100%;
}
.news-card__img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.news-card__content:hover {
  background: $orangeMain;
}

.news-card__content-title,
.news-card__content-date {
  font-family: var(--font-alimini);
  font-size: 48px;
  color: #fff;

  @include transition(all, .8s);

  @media (min-width: $tablet-l) {
    padding: 80px 30px;
  }
  @media (max-width: $desktop-s) {
    padding: 30px 40px 110px;
    text-transform: uppercase;
  }
  @media (max-width: $tablet-l - 1) {
    padding: 40px 20px;
  }
  @media (max-width: $tablet-m) {
    padding: 40px 20px;
  }
  @media (max-width: $phone) {
    font-size: 24px;
    padding: 20px;
  }
}

.news-card.w-image .news-card__inner {
  border: 1px solid $orangeMain;
}

.news-card.w-image .news-card__content-title,
.news-card.w-image .news-card__content-date {
  color: $mainDark;
  @include transition(all, .5s);
}

.news-card.w-image:hover .news-card__content-title,
.news-card.w-image:hover .news-card__content-date {
  color: white !important;
}

.news-btn-next {
  transform: scaleX(-1);
}


section#news .all-btn {
  @media (min-width: $tablet-l) {
    display: none;
  }
  @media (max-width: $tablet-l - 1) {
    display: none;
  }
  @media (max-width: $tablet-s) {
    display: block;
  }
}

section#news .section-title {
  @media (max-width: $phone) {
    padding-bottom: 40px;
  }
}
section#news .section-title__btn {
  @media (max-width: $tablet-s) {
    display: none;
  }
}


