section#news {
  padding-top: 200px;
  padding-bottom: 200px;
  background: $colorBgr;
  
  @media (max-width: $tablet-l - 1) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  @media (max-width: $tablet-s) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @media (max-width: $phone) {
    padding-top: 95px;  
    padding-bottom: 95px;
  }
}

section#news .section-title__btn a {
  text-decoration: none;
}

section#news.pageSection {
  padding-top: 100px;
  padding-bottom: 0;
}

section#news.pageSection .section-pills {
  flex-wrap: wrap;
}

section#news.pageSection .btnBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#news .section-pills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;

  @media (max-width: $tablet-s) {
    margin:0 !important;
  }

  @media (max-width: $phone) {
    flex-direction: column !important;
  }
}


section#news .section-pills__item {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-l) {
    width: calc(33.3% - 40px);
    height: 600px;
  }
  @media (max-width: $desktop-s) {
    height: 490px;
  }
  @media (max-width: $desktop-s) {
    height: 500px;
  }
  @media (max-width: $tablet-l - 1) {
    width: calc(50% - 40px);
    height: 500px;
  }
  @media (max-width: $tablet-m) {
    width: calc(50% - 40px);
    height: 500px;
  }
  @media (max-width: $tablet-s) {
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
  }
  @media (max-width: $phone) {
    width: 100%;
    height: 300px;
  }
}

section#news .section-pills__item:last-child {
  @media (max-width: $tablet-m) {
    display: none !important;
  }
}


section#news .section-pills__item .pill {
  border: 1px solid transparent;
  position: relative;
  height: inherit;
  overflow: hidden;
  cursor: pointer;
  background: $colorBgr;

  @media (min-width: $tablet-l) {
    @include borderRadius(60px);
  }

  @media (max-width: $tablet-l - 1) {
    @include borderRadius(60px);
  }

  @media (max-width: $phone) {
    @include borderRadius(30px);
  }
}

section#news .section-pills__item .pill-content {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  @include transition(all, .8s);
}

section#news .section-pills__item .pill-content:hover {
  background: $orangeMain;
}

section#news .section-pills__item .pill-content__title,
section#news .section-pills__item .pill-content__date {
  font-family: var(--font-alimini);
  font-size: 48px;
  color: white;
  @include transition(all, .8s);

  @media (min-width: $tablet-l) {
    padding: 80px 30px;
  }
  @media (max-width: $desktop-s) {
    padding: 30px 40px 110px;
    text-transform: uppercase;
  }
  @media (max-width: $tablet-l - 1) {
    padding: 40px 20px;
  }
  @media (max-width: $tablet-m) {
    padding: 40px 20px;
  }
  @media (max-width: $phone) {
    font-size: 24px;
    padding: 20px;
  }
}

section#news .section-pills__item.w-image .pill {
  border: 1px solid $orangeMain;
}

section#news .section-pills__item.w-image .pill-content__title,
section#news .section-pills__item.w-image .pill-content__date {
  color: $mainDark;
  @include transition(all, .5s);
}

section#news .section-pills__item.w-image .pill-content:hover .pill-content__title,
section#news .section-pills__item.w-image .pill-content:hover .pill-content__date {
  color: white !important;
}

section#news .section-pills__item img {
  @media (min-width: $desktop-l) {
    height: auto;
    width: 100%;
  }
}

section#news .section-pills__item .pill img {
  @media (max-width: $tablet-s) {
    height: auto;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}


section#news .all-btn {
  @media (min-width: $tablet-l) {
    display: none;
  }
  @media (max-width: $tablet-l - 1) {
    display: none;
  }
  @media (max-width: $tablet-s) {
    display: block;
  }
}







section#news .section-title {
  @media (max-width: $phone) {
    padding-bottom: 40px;
  }
}
section#news .section-title__btn {
  @media (max-width: $tablet-s) {
    display: none;
  }
}


