#pageNewsItem {
  padding-top: 100px;
  .section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .section-content {
      width: 77%;
      .article-section-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        &__wrapper {
          max-width: 100%;
          padding-right: 40px;
        }
        &__text {
          max-width: 100%;
          margin: 0;
          @media (max-width: $phone) {
            font-size: 45px;
            line-height: 1.1;
          }
        }
        &__date {
          @media (max-width: $phone) {
            margin-bottom: 50px;
          }
        }
        &__image {
          width: 100%;
          overflow-x: hidden;
          position: relative;
          @include borderRadius(60px);

          @media (max-width: $tablet-m) {
            @include borderRadius(0px);
            margin-left: -20px;
            margin-right: -20px;
            width: auto;
            height: 700px;
          }
          @media (max-width: $phone) {
            height: 500px;
          }
        }
        &__image img {
          width: 100%;
          height: auto;
          object-fit: cover;
          @media (max-width: $tablet-m) {
            height: 100%;
          }
        }
      }
      .article-section-content {
        max-width: 950px;

        @media (max-width: $phone ) {
          padding-top: 70px;
        }

        strong, b {
          font-weight: 600;
        }

        p {
          @media (max-width: $phone) {
            line-height: 1.43;
            margin-bottom: 1.2em;
          }
        }

        blockquote {
          margin: 80px 0 80px 100px;
          height: 210px;
          background: no-repeat left center url("../img/quote.png");
          padding-left: 115px;
          display: flex;
          align-items: center;

          @media (max-width: $tablet-s) {
            background-size: 91px;
            background-position: top left;
            padding-left: 50px;
          }
          @media (max-width: $phone) {
            background-size: 71px;
            margin-left: 0;
          }
        }

        a {
          text-decoration: none;
          color: $orangeMain;
          @include transition(all, .5s);
          border-bottom: 1px solid;
          &:hover {
            color: $orangeDark;

          }
        }

        h4 {
          font: var(--font-main);
          font-weight: 600;
          font-size: 24px;
        }

        ul {
          padding-left: 16px;
          li {
            line-height: 1.45;
            margin-bottom: 20px;

            &::marker {
              color: $orangeMain;
            }
          }
          li:last-child {
            margin-bottom: 0;
          }
        }

        ol {
          list-style: decimal;
          position: relative;
          padding-left: 26px;
          li {
            padding-left: 20px;
            line-height: 1.45;
            margin-bottom: 20px;
            position: relative;
            &:before {
              align-items: center;
              content: counter(list-item);
              color: #fff;
              background: #d69153;
              border: 1px solid #d69153;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              position: absolute;
              display: flex;
              left: -26px;
              top: -3px;
              text-align: center;
              justify-content: center;
            }
            &::marker {
              content: none;
            }
          }
          li:last-child {
            margin-bottom: 0;
          }
        }

      }
    }
    .side-wrapper {
      display: block;
      max-width: 23%;
      width: 23%;
      position: sticky;
      top: 20px;
      margin-left: -2px;
      margin-right: -2px;
      &.fixed {
        align-self: end;

        .article-section-side {
          position: fixed;
          max-width: inherit;
          top: 20px;
          margin-right: 100px;
          background: $colorBgr;
        }
      }
      &.fixed-end {
        align-self: end;
      }
      @media (max-width: $desktop-s) {
        top: -130px;
      }
    }
    .article-section-side {
      display: block;
      border: 1px solid $orangeMain;
      @include borderRadius(25px);
      padding-top: 10px;
      background: $colorBgr;
      z-index: 2;

      &__title, &__item {
        max-width: 100%;
        margin: 30px;
        border-bottom: 1px solid $borderGray;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:last-child {
          @media (min-width: $tablet-m + 1) {
            padding-bottom: 0;
            border-bottom: none;
          }
        }
        h3 {
          margin: 0;
        }
        a {
          margin-bottom: 16px;
          color: $mainDark;
          text-decoration: none;
          @include transition(all, .5s);
          &:hover {
            color: $orangeMain;
          }
        }
        .article-date {
          color: $lightGrayText;
          font-size: 16px;
        }
      }
    }
  }
}
section#pageNewsItem {
  @media (max-width: $phone) {
    padding-top: 65px;
  }
}

#pageNewsItem .section-wrapper .side-wrapper {
  @media (max-width: $tablet-m) {
    width: 100%;
    max-width: 100%;
    top: unset;
  }
}
#pageNewsItem .section-wrapper .article-section-side {
  @media (max-width: $tablet-m) {
    border: none;
  }
}
#pageNewsItem .section-wrapper .section-content {
  @media (max-width: $tablet-m) {
    width: 100%;
  }
}
#pageNewsItem .section-wrapper .section-content .article-section-title__wrapper {
  @media (max-width: $tablet-m) {
    padding-right: 0;
  }
}


#pageNewsItem .section-wrapper .article-section-side__item,
#pageNewsItem .section-wrapper .article-section-side__title {
  @media (max-width: $tablet-m) {
    margin-left: 0;
    margin-right: 0;
  }
}
#pageNewsItem .section-wrapper .article-section-side__item {
  @media (max-width: $tablet-m) {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
  }
  @media (max-width: $phone) {
    flex-wrap: wrap-reverse;
  }
}
#pageNewsItem .section-wrapper .article-section-side__item:before {
  @media (max-width: $tablet-m) {
    content: "";
    display: block;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    --size: 80px;
    max-width: var(--size);
    min-width: var(--size);
    width: var(--size);
    height: var(--size);
    border-radius: 80px;
    box-sizing: border-box;
    border: 1px solid $orangeMain;
    margin-left: auto;
    transform: scaleX(-1);
  }

}

#pageNewsItem .section-wrapper .article-section-side__item .article-date {
  @media (max-width: $tablet-m) {
    font-size: 32px;
    margin-right: 77px;
    font-family: var(--font-alimini);
    max-width: 110px;
  }
  @media (max-width: $phone) {
    flex-basis: 100%;
    max-width: 100%;
    font-size: 24px;
  }
}
#pageNewsItem .section-wrapper .article-section-side__item a {
  @media (max-width: $tablet-m) {
    font-size: 32px;
    font-family: var(--font-alimini);
    max-width: 354px;
  }
  @media (max-width: $phone) {
    max-width: 200px;
    font-size: 24px;
  }
}

#pageNewsItem .section-wrapper .article-section-side__item a:before {
  @media (max-width: $tablet-m) {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

#pageNewsItem .section-wrapper .article-section-side__item a span {
  @media (max-width: $tablet-m) {
    font-size: inherit;
    font-family: inherit;
  }
}

.side-wrapper__button {
  width: 100%;
  @media (min-width: $tablet-m + 1) {
    display: none;
  }
}

.section-content__title {
  line-height: 1.15;
  margin-bottom: 0.65em;
}

.article-section-content p {
  line-height: 1.6;
  margin-top: 1.3em;
}