#pageNewsItem {
  padding-top: 100px;
  .section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .section-content {
      width: 77%;
      .article-section-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        &__wrapper {
          max-width: 100%;
          padding-right: 40px;
        }
        &__text {
          max-width: 100%;
          margin: 0;
        }
        &__date {

        }
        &__image {
          width: 100%;
          overflow-x: hidden;
          position: relative;
          @include borderRadius(60px);
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .article-section-content {
        max-width: 50%;

        strong, b {
          font-weight: 600;
        }

        blockquote {
          margin: 80px 0 80px 100px;
          height: 210px;
          background: no-repeat left center url("/img/quote.png");
          padding-left: 115px;
          display: flex;
          align-items: center;
        }

        a {
          text-decoration: none;
          color: $orangeMain;
          @include transition(all, .5s);
          &:hover {
            color: $orangeDark;

          }
        }

        h4 {
          font: var(--font-main);
          font-weight: 600;
          font-size: 24px;
        }

        ul {
          padding-left: 16px;
          li {
            line-height: 40px;

            &::marker {
              color: $orangeMain;
            }
          }
        }

        ol {
          list-style: decimal;
          position: relative;
          padding-left: 26px;
          li {
            padding-left: 20px;
            line-height: 40px;
            position: relative;
            &:before {
              content: counter(list-item);
              color: #fff;
              background: url(/img/marker.svg);
              width: 36px;
              height: 36px;
              position: absolute;
              display: block;
              left: -26px;
              text-align: center;
            }
            &::marker {
              content: none;
            }
          }
        }

      }
    }
    .side-wrapper {
      display: block;
      max-width: 23%;
      width: 23%;
      position: relative;
      margin: -2px;
      &.fixed {
        align-self: end;

        .article-section-side {
          position: fixed;
          max-width: inherit;
          top: 20px;
          margin-right: 100px;
          background: $colorBgr;
        }
      }
      &.fixed-end {
        align-self: end;
      }
    }
    .article-section-side {
      display: block;
      border: 1px solid $orangeMain;
      @include borderRadius(25px);
      padding-top: 10px;
      background: $colorBgr;
      z-index: 2;

      &__title, &__item {
        max-width: 100%;
        margin: 30px;
        border-bottom: 1px solid $borderGray;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
        h3 {
          margin: 0;
        }
        a {
          margin-bottom: 16px;
          color: $mainDark;
          text-decoration: none;
          @include transition(all, .5s);
          &:hover {
            color: $orangeMain;
          }
        }
        .article-date {
          color: $lightGrayText;
          font-size: 16px;
        }
      }
    }
  }
}
