#pageNews {
  padding-top: 200px;
  padding-bottom: 200px;
  background: $colorBgr;
  overflow: hidden;

  &.pageSection {
    padding-top: 100px;
    padding-bottom: 0;
    .news-gallery {
      flex-wrap: wrap;
      &__item {
        margin-bottom: 40px;
      }
    }
    .btnBlock {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .news-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    align-items: flex-start;

    &__item {
      margin-left: 20px;
      margin-right: 20px;
      overflow: hidden;
      a {
        height: calc(100% - 2px);
      }
      .news-card__inner {
        border: 1px solid transparent;
        position: relative;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 60px;
        height: inherit;
        overflow: hidden;
        cursor: pointer;



        img {
          height: 100%;
          width: 100%;
        }
        &-content {
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: transparent;
          @include transition(all, .8s);
          &:hover {
            background: $orangeMain;
          }
          &__title, &__date {
            font-family: var(--font-alimini);
            color: white;
            @include transition(all, .8s);

          }
        }
      }
      &.w-image {
        .news-card__inner {
          border: 1px solid $orangeMain;

          &-content {
            &__title, &__date {
              color: $mainDark;
              @include transition(all, .5s);
            }
            &:hover {
              .news-card__content-title, .news-card__content-date {
                color: white !important;
              }

            }

          }

        }
      }
    }
  }
}

@media (min-width: $desktop-s) {
  #pageNews {
   .news-gallery {
     &__item {
       height: 600px;
       width: calc(33.3% - 40px);
       .news-card__content-title, .news-card__content-date {
         padding: 80px 30px;
       }
     }
   }
  }
}
@media (max-width: $desktop-s) {
  #pageNews {
   .news-gallery {
     &__item {
       height: 500px;
       width: calc(33.3% - 40px);
       .news-card__content-title, .news-card__content-date {
         padding: 40px 20px;
       }

     }
   }
  }
}
@media (max-width: $tablet-m) {
  #pageNews {
   .news-gallery {
     &__item {
      height: 500px;
      width: calc(50% - 40px);
      .news-card__content-title, .news-card__content-date {
        padding: 40px 20px;
      }
      .image {
        height: 100%;
      }
     }
   }
  }
}
@media (max-width: 576px) {
  #pageNews {
   .news-gallery {
     &__item {
       height: 300px;
       width: calc(100% - 40px);
       .news-card__content-title, .news-card__content-date {
         padding: 30px 20px;
       }

     }
   }
  }

  #pageNews .btn-square-3 {
    width: 100%;
  }
  #pageNews .section-title {
    padding-bottom: 50px;
  }
}
