section#parking {
  padding-top: 200px;

  @media (max-width: $tablet-s) {
    padding-top: 100px;
  }
}

section#parking .container {
  @media (min-width: $tablet-l + 1) and (max-width: $desktop-s) {
    overflow: hidden;
  }
}

section#parking .section-title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  position: relative;

  @media (max-width: $tablet-m) {
    flex-direction: column;
  }
}

section#parking .section-title-wrapper .arrow-title {
  position: absolute;
  top: 86px;
  right: 0;
  // left: 0;
  left: 290px;

  @media (max-width: $desktop-m) {
    left: 170px;
  }
  @media (max-width: $desktop-s) {
    top: -4px;
    left: -83px;
  }
  @media (max-width: $tablet-l) {
    display: none;
  }
}

section#parking .section-title-wrapper .btns {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin-top: -98px;

  @media (max-width: $desktop-s) {
    margin-top: 20px;
  }

  @media (max-width: $tablet-m) {
    order: 3;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: space-between;
  }

  @media (max-width: $phone) {
    width: 100%;
    margin-top: 27px;
    margin-bottom: 50px;
  }
}

section#parking .section-title-desc {
  flex-basis: 31%;//43%;
  margin-left: auto;
  margin-right: -50px;
  margin-top: 30px;

  @media (max-width: $desktop-m) {
    flex-basis: 34%;
  }

  @media (max-width: $desktop-s) {
    flex-basis: 41%;//43%;
    margin-right: -25px;
    margin-top: 10px;
  }

  @media (max-width: $tablet-l) {
    flex-basis: 63%;
    margin-right: 0;
  }

  @media (max-width: $tablet-m) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: $phone) {
    order: 2;
  }
}

section#parking .section-title-desc .desc-title {
  margin-bottom: 70px;

  @media (max-width: $desktop-s) {
    margin-bottom: 80px;
  }

  @media (max-width: $tablet-l) {
    margin-bottom: 40px;
  }

  @media (max-width: $phone) {
    margin-bottom: 20px;
  }
}

section#parking .section-title-desc .desc-title h3 {
  margin-top: 0;
  margin-bottom: 0;
}

section#parking .section-title-desc .desc-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (min-width: $tablet-l + 1) and (max-width: $desktop-s) {
    margin-top: -50px;
  }
  @media (max-width: $tablet-m) {
    margin-bottom: 0;
    max-width: 520px;
  }
}

section#parking .section-title-desc .desc-text .item {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: $phone) {
    flex-basis: 100%;
    margin-bottom: 25px;
    max-width: 78%;
    width: 100%;
  }
}


section#parking .section-title-desc .desc-text .item span {
  font-family: var(--font-alimini);
  font-size: 24px;
  color: $mainBlue;
  text-transform: uppercase;
}


section#parking .section-title__text span {
  font-family: var(--font-alimini);
  font-size: inherit;
  line-height: inherit;
  display: inline;
  background-color: $colorBgr;
  box-shadow: -10px 0 0 $colorBgr, 10px 0 0 $colorBgr;
  padding-right: 20px;

  @media (min-width: $desktop-m + 1) {
    font-size: 80px;
  }
  @media (max-width: $tablet-s) {
    line-height: 1.1;
  }
}


section#parking .section-content {
  height: 1000px;

  @media (max-width: $tablet-s) {
    height: 900px;
  }
  @media (max-width: $phone) {
    height: 600px;
  }
}  

section#parking .section-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


section#parking .section-title .section-title__text {
  @media (max-width: $desktop-s) {
    margin-bottom: 15px;
  }

  @media (max-width: $tablet-m) {
    margin-bottom: 40px;
  }

  @media (max-width: $phone) {
    margin-bottom: 35px;
  }
}

section#parking .section-title__text {
  margin-top: 0;
  position: relative;
  flex-basis: 40%;
  z-index: 2;
  margin-bottom: 40px;

  @media (max-width: $desktop-s) {
    flex-basis: 30%;
  }

  @media (max-width: $tablet-m) {
    width: 100% !important;
    // order: 1;
  }

  @media (max-width: $phone) {
    height: 600px;
    margin-bottom: 40px;
  }
}

section#parking .section-title {
  align-items: flex-start;
  margin-bottom: 0;

  @media (max-width: $tablet-m) {
    flex-wrap: wrap;
    padding-bottom: 0 !important;
  }
}





section#parking .section-title .btns .btn {
  @media (max-width: $tablet-s) {
    flex: 0 0 48%!important;
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (max-width: $tablet-m) {
    flex: 0 0 100%;
    margin: 0;
  }

  @media (max-width: $phone) {
    flex-basis: 100% !important;
  }
}

section#parking .section-title .btns .btn:last-child {
  @media (max-width: $tablet-m) {
    margin-top: 30px;
  }

  @media (max-width: $tablet-s) {
    margin-top: 0;
  }
}

section#parking .section-title .btns .btn:not(:last-child) {
  @media (max-width: $phone) {
    margin-bottom: 24px;
  }
}
